environment/*/*.vmware.yaml
environment/*/tmp/*
inspec/files/*
secrets/ssh-keys/*
secrets/ansible-vault/*
terraform/*/*terraform*
terraform/apps/*/*terraform*
terraform/apps/*/*.plan
terraform/apps/*/*.auto.tfvars
terraform/workspaces/*
_unused_code*
